.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.outlined {
  outline: 1px solid;
}

:not(div) {
  padding: 0.5em;
  margin: 0;
}

html, body {
  margin: 0;
  padding: 0;
}

h1 {
  width: 100%;
  padding: 0.5em;
  background: lightblue;
}

.App {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto auto 1fr;
}

nav {
  display: flex;
  gap: 1em;
  justify-content: end;
  background: blue;
  width: 100%;
  padding: 0;
}

nav > a {
  background: violet;
  color:  purple;
  padding-inline: 1em;
  text-decoration: none;
  font-weight: bold;
}

main {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  width: 100%;
  height: 100%;
}

.search-area {
  background: yellow;
  width: auto;
  flex-grow: 1;
}

.city-search {
  width: min-content;
  padding: 1em 3em;
  display: flex;
  flex-direction: column;
}

.city-search label {
  padding-inline: 0;
}

.city-search input ,
.city-search select {
    width: 25ch;
}

.info-area {
  background: green;
  padding: 2em;
  flex-grow: 10;
  display: flex;
  justify-content: center;
}

.city-info-widget {
  outline: 1px solid;
  padding: 1em;
  margin: 1em;
  width: 30ch;
  height: 20em;
  background: white;
  border-radius: 15px;
}

.favorites-area {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  background: gray;
}